.form{
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 100%;
}
.register-btn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: 25ms ease-in-out;
    --background: var(--ion-color-primary)
}
.register-btn:active{
    opacity: .8;
}
.goto-login-btn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
}